@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body.light {
  color-scheme: light;
  color: #242424;
  background-color: #ffffff;
}

body.dark {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body.light button {
  background-color: #f9f9f9;
}

body.dark button {
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 00;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  .list-item span {
    color: #000000; /* 라이트 테마일 때 span의 글자 색을 검정색으로 설정 */
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  .list-item span {
    color: #ffffff; /* 다크 테마일 때 span의 글자 색을 흰색으로 설정 */
  }
}

body.light .list-item span {
  color: #000000; /* 라이트 테마일 때 span의 글자 색을 검정색으로 설정 */
}

body.dark .list-item span {
  color: #ffffff; /* 다크 테마일 때 span의 글자 색을 흰색으로 설정 */
}

.list-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.list-label {
  display: flex;
  align-items: center;
  flex: 1;
  font-size: 0.875rem; /* text-sm */
  font-weight: 500; /* font-medium */
  color: #a1a1aa; /* text-gray-400 */
}

.todo-button {
  margin-left: auto; /* Pushes the button to the right end */
}

input[type='checkbox'] {
  margin: 10px;
  height: 1rem; /* h-4 */
  width: 1rem; /* w-4 */
  border-radius: 0.25rem;
  border: 1px solid #d1d5db; /* border-gray-300 */
  background: #f3f4f6; /* bg-gray-100 */
  accent-color: #2563eb; /* text-blue-600 */
}

span {
  text-decoration-line: line-through;
  text-shadow: 0px 0px 1px #000;
  font-weight: 600; /* Increase font weight for clarity */
  -webkit-font-smoothing: antialiased; /* Improve font rendering on WebKit */
}

.create-todo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.todo-input {
  flex: 1;
  margin-right: 10px; /* Optional: Adjust spacing as needed */
}
